<ion-content>
  <div class="imgCenter">
    <div class="center">
      <ion-img src="../../../assets/logos/NUEVO ESCUDO UNIMAGDALENA 01.png" class="ion-align-self-end">
      </ion-img>
    </div>   
  </div>

  <!-- <img -->
</ion-content>

<ion-footer > 
  <ion-toolbar color="tertiary"  >
    <div class="centrado">
      <ion-button slot="start" (click)="onClickInicio()">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        Iniciar sesión
      </ion-button>

      <ion-button (click)="onClickRegistro()">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Registro
      </ion-button>

      <ion-button slot="end"  (click)="onClickVisitante()">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        Visitante
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

