<ion-content>
    <ion-list>
        <ion-item fill="solid">
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="email" ngModel email [clearOnEdit]="true" [clearInput]="true" value="Default value" ></ion-input>
            <ion-note slot="helper">Ingrese correo electrónico</ion-note>
            <ion-note slot="error">Correo electrónico inválido</ion-note>
        </ion-item>
        <br>
        <ion-item fill="solid">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [clearOnEdit]="true" type="password" placeholder=""></ion-input>
        </ion-item>
        <br><br>
        <ion-button color="primary" (click)="onClickEntrar()">
            Entrar
        </ion-button>
        <br>
        <ion-button color="secondary" (click)="onClickInscribirse()">
            Inscribirse
        </ion-button>
    </ion-list>

</ion-content>
