ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

#imagenCard {
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    margin: 0 auto;
    height: 100px !important;
}