ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

ion-checkbox {
    --size: 32px;
    --background-checked: #010B40;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #010B40;
  }