<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button>
            <ion-icon name="menu-outline"></ion-icon>
        </ion-menu-button>
    </ion-buttons>
    <ion-title>EventUM</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img id="imagenCard" src="assets/fotos/EncuentroGraduados.jpg" />
    <ion-card-header>
      <ion-card-title>Encuentro de egresados</ion-card-title>
      <ion-card-subtitle>Centro de Egresados Unimagdalena, Vicerrectoría de Extensión y Proyección Social</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Graduado UNIMAGDALENA tenemos una invitación para ti 😎. Disfruta este viernes, 16 de diciembre, de una jornada cultural en nuestro Claustro San Juan Nepomuceno.
    </ion-card-content>
  </ion-card>

    <ion-list>
      <ion-item *ngFor="let item of items; let index">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
 </ion-content>