<ion-content [fullscreen]="true">

  <ion-slides class="slide-full" mode="ios" pager="true" scrollbar="ios" >
    <ion-slide>
      <img src="../../../assets/slider/slider1.png" class="slide-image">
      <h3>Contribuye: </h3>
      <p>En darte información en tiempo real de los eventos dentro del Campus UniMagdalena.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/slider/slider2.png" class="slide-image">
      <h3>No vuelvas a llegar tarde:</h3>
      <p>O perderdet de las actividades a las que te gustaria asistir, agregalas en favorito y disfruta de la experiencia.</p>
    </ion-slide>
    
    <ion-slide>
      <img src="../../../assets/slider/slider3.png" class="slide-image">
      <h3></h3>
      <p></p>
      <ion-button (click)="onClickEmpezar()" expand="full" fill="clear" color="dark">
        Empecemos.
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>